////
/// @filepath ./src/App.scss
/// @name App.css
////
:root {
  --none: 1px solid gold;
  background-color: #000;
  overflow: hidden;
}

html, button, input {
  font-size: 1rem;
}

@media (max-width: 421px) {
  html {
  }
  html, button, input {
    font-size: 1.4rem;
  }
}

body {
}

h1, h2, h3, h4, h5, h6,
body, p, ol, ul, dl, li,
em, i, strong, b, q, blockquote,
abbr, span,
table, label, input, button {
  font-family: 'Eulexia';
  letter-spacing: 0.025rem;
}

/**
 * @name hpad
 * @description
 * @enum
 */

// @usage <TAG class="-[F]__next__"></TAG>
// <ul class="focused">
//   <li class="focused"></li>
// </ul>
// <ul class="-[aRb]historical-activity__focused__">
//   <li rel="prev"></li>
//   <li rel="next"></li>
// </ul>

.F { }
.G { }
.P { }

.-[F] { }
.-[G] { }
.-[P] { }

.-[F]__next__ { }
.-[G]__prev__ { }
.-[P]__last__ { }

.__next__ { }
.__prev__ { }
.__last__ { }
.__focused__ { }

.aRb { }
.-[aRb] { }
.-[aRb]__focused__ { }
.-[aRb]comments__focused__ { }
.-[aRb]timegate__focused__ { }
.-[aRb]chord__focused__ { }
.-[aRb]rolodex-block__focused__ { }
.-[aRb]rolodex--footer-element__focused__ { }
.-[aRb]rating__focused__ { }
.-[aRb]historical-activity__focused__ { }
.-[aRb]aRb__next__ {}
.-[aRc]aRc__next__ {}
.-[aRc]aRc__last__ {}
// ...
[class*="-[aRb]"][class*="historical-activity__focused__"] {}
[class*="historical-activity__focused__"] {}
[class*="-[aRb]"][class*="__focused__"] {
  outline: 1px solid gold;
}

/**
 * @name Monad
 * @description the point here is that such normative relata will exist merely
 * by virtue of choosing delimitation for each set's namespace in a framework
 * instance. "-[F]" exists whether or not one chooses to delimit by hyphens 
 * or by spaces according to some self-evaluative or normatively founding 
 * criteria. "for every line of code you write you introduce three bugs."
 * @try
 * <div class="F -[F] -[F]__next__"></div>
 */
@mixin Monad ($args...) {
  @each $name, $namespace in meta.keyword($args) {
    @extend .#{name};
    @extend .-[#{name}];
    @extend .#{$namespace};
    @extend .-[#{$name}]#{$namespace};
  }
}

@include Monad(
  $F: "__next__",
  $G: "__prev__",
  $P: "__last__",
  $aRb: "__focused__",
  $aRb: "historical-activity__focused__"
);

/**
 * @name World
 * @description .
 */
@mixin World () {
  // @debug
}

@include World(
  $map: "",
  $chain: "",
  $toString: "",
  $query: "",
  $filter: "",
  $__doc__: ""
)

// .F {}
// .G {}

/// @name ./src/App.scss:mixins:enableActivity
/// @group interface.config
@mixin enableActivity () {
  & {
    position: relative;
    z-index: 9001;
    outline: 1px solid gold;
  }

  /// considering these i'd assume they have nothing to do with each other and
  /// "active" may be styled generally elsewhere in the global namespace.
  &.button.active {
    content: 'who knows if anything reached the global namespace?'
  }

  /// specific and focused.
  &[class*='button'][class*='active'] {
    outline: 1px solid gold;
  }
}

/// @name ./src/App.scss:mixins:enableInputField
/// @group interface.config
@mixin enableInputField () {
  &[type] {
    padding: 0.45rem 0 0.45rem 0.45rem;
    background-color: #000;
    color: #fff;
    border: none;
    width: 100%;
    outline: 1px solid transparent;
  }

  &[class*='geo'] {
    outline: 1px solid red;
  }
}

/// @name ./src/App.scss:mixins:enableList
/// @group interface.config
@mixin enableList () {
  & {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & li {
  }

  & li button {
    width: 100%;
    border: none;
    padding: 0.25rem 0;
    cursor: pointer;
    outline: 1px solid transparent;
    background-color: #000;
    color: #fff;
  }
}

/// @name ./src/App.scss:tags:html
/// @group interface.parts
html {
  // outline: 1px solid teal;
}

/// @name ./src/App.scss:tags:body
/// @group interface.parts
body {
  margin: 0;
}

/// @name ./src/App.scss:tags:button
/// @group interface.parts
button {
  @include enableActivity();
}

/// @name ./src/App.scss:tags:input
/// @group interface.parts
input {
  @include enableInputField();
}

/// @name ./src/App.scss:tags:lists
/// @group interface.parts
ul,
ol,
.m-view--list,
.m-view--list__default__ {
  @include enableList();
}

/// @name ./src/App.scss:tags:footer
/// @group interfaces
footer {

  position: absolute;
  z-index: 9999;
  bottom: 0;

  width: 100%;
  margin: {
    bottom: 0.25rem;
  }
  padding-top: .25rem;
  padding-bottom: .25rem;
  border-top: 2px solid teal;
  border-bottom: 2px solid teal;

  font: {
    size: 0.5rem;
  }

  ul {
    display: flex;
    flex-direction: row;
  }

  ul li {
    flex-grow: 1;
    text-align: center;
  }

  a {
    line-height: 0;
    display: block;
    width: 100%;
    border-bottom: 3px double purple;

    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 3px black;

    &:hover {
      color: white;
      border-bottom: 3px double orange;
    }

    &:focus,
    &:active {
      outline: 1px solid gold;
    }
  }
}

/// @name .accessibly-hide
/// @group a11y
.accessibly-hide {
  position: absolute;
  left: -9999px;
  z-index: -9999;
}

/// @name .m-view--headline__default__
/// @group modules
.m-view--headline__default__ {
  @extend .accessibly-hide;
}

/// @name .m-view--labeltext__default__
/// @group modules
.m-view--labeltext__default__ {
  @extend .accessibly-hide;
}

/// @name input[class*="m-view--input"]
/// @group modules
input[class*="m-view--input"] {
  text-align: right;
  padding: 0;
  margin: 0;
}

/// @name .m-view--output__default__
/// @group modules
.m-view--output__default__ {
  text-align: right;
  display: block;
  color: white;
}

/// EOF
